/* Write your code here. */

.result-card-container {
  background-color: #ffffff33;
  height: 500px;
  width: 150%;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button {
  width: 110px;
  color: #3d3d3d;
  border-radius: 8px;
  background-color: #ffce27;
  border-width: 0px;
  height: 35px;
  font-family: 'Roboto';
  font-size: 18px;
}

.heading {
  font-family: 'Roboto';
  font-size: 55px;
  font-weight: bold;
  color: #ffffff;
}

.score-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.score-label {
  color: #6a59ff;
  font-family: 'Roboto';
  font-size: 25px;
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .result-card-container {
    width: 100%;
    align-items: center;
    height: 350px;
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .heading {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }

  .score-heading {
    font-family: 'Roboto';
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .score-label {
    color: #6a59ff;
    font-family: 'Roboto';
    font-size: 25px;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .button {
    width: 100px;
    color: #3d3d3d;
    border-radius: 8px;
    background-color: #ffce27;
    border-width: 0px;
    height: 35px;
    font-family: 'Roboto';
    font-size: 12px;
  }
}
